*{
    margin:0;
    padding: 0;
}
/* screen */
#screen{
    width:100%;
    height:100vh;
    background-color: #f3f2ef;
    /* border:4px solid rgb(0, 96, 128); */
}
/* navbar */
#navbar{
    width: 100%;
    margin: auto;
    height: 10%;
    /* border: 5px solid red; */
    margin-top:20px;
    background-color: white;
}
#navbar > div{
    /* border:2px solid blue; */
    display:flex;
    justify-content: space-between;
    height:100%;
    width:80%;
    margin:auto;
}
#nav-left{
    /* border:1px solid red; */
    height:100%;
    width:30%;
    display:flex;
    justify-content: space-between;
}
#nav-right{
    /* border:1px solid blue; */
    height:100%;
    width:60%;
}
#nav-left >div:first-child{
    /* border:1px solid blue; */
    width: 10%;
    color:#0a66c2;
    font-size: 1.7vw;
    text-align: center;
    padding:25px 0;
}
#nav-left>div:last-child{
    /* border:1px solid blue; */
    height: 60%;
    width: 85%;
    margin: auto;
    background-color: #eef3f8;
    border-radius: 5px;
}
#nav-left>div:last-child i{
    max-width: 10%;
    /* border:1px solid red; */
    color: #66686a;
    padding:0 5px;
}
#nav-left>div:last-child input{
    height: 100%;
    width: 70%;
    border: none;
    outline: none;
    background-color: #eef3f8;
    color:#65798b;
    /* border:1px solid red; */
}
#nav-right{
    display:flex;
    /* border:1px solid red; */
} 
#nav-right-icons{
    display: flex;
    justify-content: space-evenly;
    /* border:1px solid blue; */
    width: 80%;
    text-align: center;
    color:#666666;   
}
#nav-right-icons >div{
    /* border:1px solid red; */
    width:15%;
}
.icons{
    /* border:1px solid red; */
    width: 15%;
}
#nav-right-info{
    /* border:1px solid blue; */
    width: 30%;
}
.icons i{
    font-size: 1.6vw;
    padding-top:25px;    
}
.icons p{
    font-size: 1vw;
    color:#8da696;
    margin-top: 10px;
}
.pro-pic{
    /* border:1px solid blue; */
}
.pro-pic >div:first-child{
    /* border:1px solid rgb(211, 42, 143); */
    height: 50%;
    width:45%;
    margin: auto;
    margin-top: 3px;
    margin-bottom: 4px;
    border-radius: 50%;
}
.pro-pic >div:first-child img{
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
}
.caret-down{
    /* border:1px solid rgb(211, 42, 143); */
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.caret-down p  {
    font-size: 1vw;
    color:#8da696;
    padding-top: 1px;
    padding-right: 3px;  
}
.caret-down i{
    color:#666666; 
}
#nav-right-info{
    width: 20%;
    display: flex;  
    /* border:1px solid red; */
}
#nav-right-info-left{
    /* border:1px solid blue; */
    width:40%;
}
#nav-right-info-left >div:first-child{
    height:50%;
    text-align: center;
    padding-top: 7px;
    color:#666666; 
}
#nav-right-info-left >div:first-child i{
    font-size: 2.2vw;
}
#nav-right-info-right
{
    /* border:1px solid red; */
    width:60%;
    color:#bc9860;
    text-decoration: underline;
    padding:3px;
    font-size: 1vw;
    font-weight:lighter;
}
.border{
    border-right:1px solid grey;
}

/* body section */
#body{
    width: 80%;
    margin: auto;
    height: 85%;
    /* border: 3px solid green; */
    margin-top:20px;
    display: flex;
    justify-content: space-between;
}
/* body left section */
#left{
    width: 20%;
    height: 100%;
    /* border: 1px solid green; */
    padding: 0 15px;

}
#center{
    width: 45%;
    height: 100%;
    /* border: 1px solid green; */
}
#news{
    width: 20%;
    height: 100%;
    /* border: 1px solid blue; */
    padding: 0 15px;
}
#my-info-first{
    height: 40%;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 3px;
    border-radius: 8px;
    /* border-bottom:1px solid rgb(167,39,60); */
}
#my-info-second{
    height: 25%;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 3px;
    border-radius: 8px;
    /* border:1px solid rgb(229, 19, 19); */
}
#my-info-third{
    height: 20%;
    background-color: white;
    padding-left: 10px;
    margin-bottom: 3px;
    border-radius: 8px;
    /* border:1px solid rgb(167,39,60); */
}
#my-info-fourth{
    height: 10%;
    background-color: white;
    padding-left: 10px;
    margin-bottom: 3px;
    border-radius: 8px;
    /* border:1px solid rgb(167,39,60); */
}
#my-info-first>div:nth-child(1){
    width:100%;
    height:45%;
    /* display:flex;
    justify-content:center; */
    /* border: 1px solid red; */
}
#my-info-first>div:nth-child(1)>div{
    height:80%;
    width:25%;
    border-radius: 30px;
    margin-left: 35%;
    margin-top: 3%;
}
#my-info-first>div:nth-child(1)>div >img{
    height:100%;
    width:100%;
    border-radius:50%;
}
#my-info-first>div:nth-child(2){
    text-align:center;
    height:45%;
}
#my-info-first>div:nth-child(2) >h1{
    margin-top:10px;
    font-size: 1.2vw;
    font-weight:bolder;
}
#my-info-first>div:nth-child(2) >p{
    font-size:1vw;
    opacity:0.5;
}
#my-info-second{
    /* border:1px solid blue;  */
    font-size: 1vw;
    font-weight:600;
    display: flex;
    flex-direction: column;
}
#my-info-second >div:first-child{
    height: 100%;
}
#my-info-second>div:nth-child(1) >div:nth-child(1){
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border:1px solid blue;  */
    padding:2% 0;
}
#my-info-second>div:nth-child(1) >div:nth-child(1):hover{
    background-color: #f3f2ef;
    cursor: pointer;
}
.network{
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    /* border:1px solid red; */
}
.network >p:nth-child(2){
    color:rgb(47, 47, 210); 
}
#my-info-second>div:nth-child(1) >div:nth-child(2){
    /* border:1px solid green; */
    height: 20%;
}
#my-info-second>div:nth-child(1) >div:nth-child(2):hover{
    background-color: #f3f2ef;
    cursor: pointer;
}
#my-info-third>div:nth-child(1){
    height: 30%;
    font-size: 1vw;
    font-weight:small;
    /* border:1px solid red; */
}
#my-info-third>div:nth-child(2){
    height: 70%;
    /* border:1px solid blue; */
    display: flex;
    font-size: 1.4vw;
    padding: 5px;
    color:orange;
}
#my-info-third>div:nth-child(2) p{
    font-size: 1vw;
    font-weight:500;
    text-decoration: underline;
    padding-left: 5px;
    color:rgb(48, 47, 47);
}

/* Body's center section */
#center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Center top section */
#center-top{
    height: 14%;
    background-color: white;
    border-radius: 20px;
    /* border:1px solid red; */
}
#center-top-top{
    display: flex;
    /* border:1px solid blue; */
    height:50%;
}
#center-top-top>div:nth-child(1){
    width: 15%;
    /* border:1px solid blue; */
}
#center-top-top>div:nth-child(1) div{
    height:80%;
    width:53%;
    border-radius: 50%;
    margin: 5% 25%;
    /* border:1px solid red; */
}
#center-top-top>div:nth-child(1) img{
    max-width:100%;
    max-height:100%;
    border-radius: 50%;
}
#center-top-top>div:nth-child(2){
    width: 85%;
    /* border:1px solid blue; */
}
#center-top-top>div:nth-child(2) input{
    height: 80%;
    width:95%;
    padding: 0 10px;
    margin-top:1%;
    border-radius: 32px;
    outline:none;
    border:1 px solid grey;
}
/* Center top bottom section */
#center-top-bot{
    height: 50%;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    /* border:1px solid red; */
}
.center-top-icon{
    width:20%;
    /* border:1px solid blue; */
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    color:#6c6b6b;
}
.center-top-icon i{
    font-size: 1.5vw;
}
.center-top-icon p{
    font-size: 1.2vw;
}
#center-top-bot >div:nth-child(1) i{
    color: #378fe9;
}
#center-top-bot >div:nth-child(2) i{
    color:#5f9b41;
}
#center-top-bot >div:nth-child(3) i{
color:#c37d16;
}
#center-top-bot >div:nth-child(4) {
    width:30%;
}
#center-top-bot >div:nth-child(4) i{
    color:#e16745;
}
/* center bottom section */
#center-bot{
    height: 85%;
    /* border:1px solid rgb(20, 11, 11); */
}
#center-bot fieldset{
    text-align: right;
    padding-right: 0;
    margin:1% 5px;
    font-size: 1vw;
    border: none;
    border-top: 1px solid; 
}
#center-bot-main{
    /* border:1px solid blue; */
    background-color: white;
    border-radius: 10px;
    height: 90%;
    margin-top: 3%;
    padding:0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#center-bot-one{
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border:1px solid rgb(0, 174, 255); */
}
#center-bot-two{
    height: 25%;
    /* border:1px solid rgb(0, 255, 47); */
}
#center-bot-three{
    height: 40%;
    width: 100%;
    border-radius: 5px;
    /* border:1px solid rgb(255, 0, 136); */
}
#center-bot-four{
    height: 8%;
    /* border:1px solid rgb(166, 255, 0); */
    display:flex;
    justify-content: space-between;
    padding-top:5px;
}
#center-bot-five{
    height: 10%;
    /* border:1px solid rgb(255, 77, 0); */
    display: flex;
    justify-content: space-evenly;
}
#center-bot-one >div{
    width: 75%;
}
#center-bot-one >div >div{
    /* border:1px solid rgb(168, 53, 4); */
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    padding: 0px 2px;
}
#center-bot-one >div >div >div{
    width:10%;
    height: 80%;
    border-radius: 50%;
    /* border:1px solid rgb(255, 77, 0); */
}
#center-bot-one >div >div >div img{
    width:100%;
    height: 100%;
    border-radius: 50%;
}
#center-bot-one >div>div p{
    font-size: 1vw;
    /* color:red; */
    padding: 1% 2%;
}
#center-bot-one >i{
    /* width:20%; */
    margin:8px 0px;
    /* border:1px solid rgb(166, 255, 0);   */
}
/* center bottom part two */
.people{
    height:60%;
    width:100%;
    /* border:1px solid rgb(166, 255, 0); */
    display: flex;
    justify-content: space-between;
}
.people >div:nth-child(1){
    display: flex;
    width:75%;
}
.people-img{
    width:15%;
    height:60%;
    padding:5px;
    /* border:1px solid rgb(255, 0, 136); */
}
.people-img img{
    width:100%;
    height:100%;
}
.people-cap{
    font-size: 0.8vw;
    width:70%;
    height:60%;
    padding: 0 5px;
    /* border:1px solid rgb(255, 0, 136); */
}
.people-cap >div:nth-child(1){
    display:flex;
    /* border:1px solid rgb(0, 174, 255); */
    /* font-size: 0.9vw; */
}
.people-cap h2{
    /* border:1px solid rgb(166, 255, 0); */
}
.people-cap p{
    padding: 3px 2px;
    /* border:1px solid rgb(0, 174, 255); */
}
.people-cap >div:nth-child(2){
    /* font-size: 0.9vw; */
    /* border:1px solid rgb(0, 255, 255); */
}
.people-time{
    display:flex;
    /* border:1px solid rgb(255, 0, 136); */
    /* font-size: 0.9vw; */
}
.people-time i{
    padding-top: 5px;
}
.people >div:nth-child(2){
    /* border:1px solid rgb(255, 0, 136); */
    color:#2b7bcb;
    font-size: 1.2vw;
}
.people >div:nth-child(2) p{
    padding:25px 10px;
}
#caption{
    height: 35%;
    overflow: auto;
    /* border:1px solid rgb(255, 0, 136); */
}
#caption div{
    margin:5px 10px;
    font-size: 1vw;
}
#center-bot-four > div:nth-child(1){
    display:flex;
    /* border:1px solid rgb(255, 0, 136); */
    padding:0 5px;
}
#center-bot-four > div:nth-child(1) >div >i:nth-child(1){
    color:blue;
    font-size: 1.5vw;
}
#center-bot-four > div:nth-child(1) >div >i:nth-child(2){
    color:red;
    font-size: 1.5vw;
}
#center-bot-four > div:nth-child(1) >div >i:nth-child(3){
    color:brown;
    font-size: 1.5vw;
}
#center-bot-four > div:nth-child(1) >div:nth-child(2){
    font-size: 1vw;
    /* color:blue; */
    padding: 3px 10px;
}
#center-bot-four > div:nth-child(2){
    font-size: 1vw;
    /* color:red; */
    padding: 3px;
}
#center-bot-five >div{
    /* border:1px solid red; */
    padding: 8px 0;
    color:#6c6b6b;
    font-size: 1.3vw;
}
#center-bot-three img{
    width: 100%;
    max-height: 100%;
}
/* Remaining work */
#my-info{
    height: 55%;
    /* border:1px solid red;  */
}
#left-bot{
    height: 20%;
    margin-top: 20px;
    background-color: white;
    color:#2b7bcb;
    padding: 0 10px;
}
#left-bot i{
    color:#6c6b6b;
}
#my-info-fourth{
    display: flex;
    font-size: 1.2vw;
    padding-top: 5%;
}
#my-info-fourth p{
    padding-left:5px;
}
#left >div:nth-child(2){
    /* border:1px solid blue; */
    font-size: 1.1vw;
    height:25%;
    border-radius: 5px;
}
#left >div:nth-child(2) >div{
    /* border:1px solid red; */
    height:20%;
}
#left >div:nth-child(2) >div:nth-child(2){
    display: flex;
    justify-content: space-between;
}
#left >div:nth-child(2) >div:last-child{
    height: 25%;
    width: 100%;
    color:#66686a;
    text-align: center;
    font-size: 1.2vw;
    padding-top: 20px ;
    border-top:1px solid #66686a;
}
#news{
    display:flex;
    flex-direction: column;
    gap:20px;
    color:#191919;
}
#lik-news{
    height: 40%;
    /* border:1px solid red; */
    font-size: 1.1vw;
}
#lik-news >div{
    height:19%;
    background-color: white;
    border-radius: 10px;
    /* border:1px solid red; */
    padding:0 3px;
}
#lik-news >div:first-child{
    display:flex;
    justify-content: space-between;
    padding: 1px 5px;
}
.news{
    margin: 2px 0;
    /* border:1px solid blue; */
}
.news div{
    display:flex;
    /* border:1px solid red; */
    gap: 10px;
}

#lik-news>div:nth-child(1) p ,.news>div p{
    font-weight: 800;
    opacity: 0.9;
}

#ads{
    height: 20%;
    /* border:1px solid red; */
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    font-size:1vw;
    justify-content: space-evenly;
}
#ads >div{
    /* border:1px solid blue; */
}
footer{
    display: flex;
    /* border:1px solid blue; */
}
footer div{
    height:70%;
    width:30%
}
footer img{
    height: 100%;
    width: 100%;
}
footer p{
    font-size: 1vw;
}
/* Hover */
#my-info-third:hover,#my-info-fourth:hover{
    background-color: #eaeae8;
    cursor: pointer;
}
#left-bot >div:hover{
    text-decoration: underline;
    cursor: pointer;
}
#left-bot>div:nth-child(4):hover, #center-bot-five >div:hover{
    background-color: #eaeae8;
    text-decoration: none;
    cursor: pointer;
}
#center-top-top>div:nth-child(2) input:hover,#center-top-bot >div:hover{
    background-color: #eaeae8;
    cursor: pointer;
}
#center-bot-one >div>div strong:hover, .people-cap h2:hover,
#center-bot-four > div:nth-child(2):hover,
#center-bot-four > div:nth-child(1) >div:nth-child(2):hover
{
    color: #0a66c2;
    text-decoration: underline;
    cursor: pointer;
}
.people >div:nth-child(2) p:hover{
    height: 10%;
    background-color: #e1eff6;
    cursor: pointer;
}
.news div:hover,.news p:hover {
    background-color: #eaeae8;
    cursor: pointer;
}
#ads >div:hover{
    color: #0a66c2;
    text-decoration: underline;
    cursor: pointer;
}


